<li>
  {{ $page := .Page }}
  {{ $isLatest := .IsLatest }}
  <a href="{{ $page.RelPermalink }}" class="ds-card release-inline-card" data-color="neutral">
    <div class="ds-card__block">

      <div class="release-inline-card__header">
        <time class="ds-paragraph release-inline-card__date" data-size="sm" datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ $page.Date.Format "2. January 2006" }}
        </time>
        {{ if $isLatest }}
          <span class="ds-tag release-inline-card__badge" data-size="sm">Siste release</span>
        {{ end }}
      </div>

      <hr class="ds-divider release-inline-card__divider" aria-hidden="true">

      <div class="release-detail__content">
        {{ $page.Content }}
      </div>

    </div>
  </a>
</li>
