<footer class="site-footer" role="contentinfo">
  <div class="site-footer__container">
    <div class="site-footer__grid">

      <div class="site-footer__col">
        <div class="footer-brand">
          <a href="{{ "/" | relURL }}" class="footer-brand__logo-link">
            <img class="footer-brand__logo" src="{{ "/images/digdir_logo_dark.svg" | relURL }}" alt="Digdir">
          </a>
          <p class="footer-brand__text">
            Release.digdir.no gir beskrivelse av endringer og feilrettinger i fellesløsningene som Digitaliseringsdirektoratet forvalter.
            Driftsmeldinger og varsel om vedlikehold publiseres på
            <a href="https://status.digdir.no" class="footer-brand__link">status.digdir.no</a>.
          </p>
        </div>
      </div>

      <div class="site-footer__col">
        <div class="footer-links">
          <h2 class="footer__heading">Relaterte sider</h2>
          <ul class="footer-links__list">
            <li class="footer-links__item"><a href="https://samarbeid.digdir.no">Samarbeidsportalen</a></li>
            <li class="footer-links__item"><a href="https://docs.digdir.no">Digdir Docs</a></li>
            <li class="footer-links__item"><a href="https://digdir.no">Digdir.no</a></li>
            <li class="footer-links__item"><a href="https://status.digdir.no">status.digdir.no</a></li>
          </ul>
        </div>
      </div>

      <div class="site-footer__col">
        <div class="footer-contact">
          <h2 class="footer__heading">Kontakt</h2>
          <div class="footer-contact__item">
            <span>E-post: </span><a href="mailto:servicedesk@digdir.no">servicedesk@digdir.no</a>
          </div>
          <div class="footer-contact__item">
            <span>Beredskapsvakt: </span><a href="tel:95736102">957 36 102</a>
          </div>
          <p class="footer-contact__note">(utenfor arbeidstid)</p>
        </div>
      </div>

    </div>
  </div>
</footer>
