<footer class="footer component">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="footer__heading">Release.digdir.no</h2>
                <p class="fs-6 me-5">Gir beskrivelse av endringer og feilrettinger som er gjort i fellesløsningene.
                    Driftsmeldinger og varsel om vedlikehold publiseres på <a class="text-white"
                        href="status.digdir.no">status.digdir.no</a>
                </p>
            </div>
            <div class="col-lg-3">
                <h2 class="footer__heading">
                    Relaterte sider
                </h2>
                <div class="footer__content">
                    <ul class="footer__links">
                        <li>
                            <a class="fs-6" href="https://samarbeid.digdir.no">Samarbeidsportalen</a>
                        </li>
                        <li>
                            <a class="fs-6" href="https://docs.digdir.no">Digdir Docs</a>
                        </li>
                        <li>
                            <a class="fs-6" href="https://digdir.no">Digdir.no</a>
                        </li>
                        <li>
                            <a class="fs-6" href="https://status.digdir.no">status.digdir.no</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <h2 class="footer__heading">
                    Kontakt
                </h2>
                <div class="footer__content">
                    <ul class="footer__links text-sm">
                        <p class="fs-6">Epost:
                            <a href="mailto:servicedesk@digdir.no">
                                servicedesk@digdir.no
                            </a>
                        </p>
                        <p class="fs-6">Beredskapsvakt:
                            <a href="tel:95736102">957 36 102</a><br>
                            (utenfor arbeidstid)
                        </p>
                    </ul>

                    <div class="footer__icons mb-4">
                        <a href="https://www.facebook.com/Digitaliseringsdirektoratet/">
                            <i class="fa-facebook-f fab icon footer-icon--facebook" aria-hidden="true" tabindex="-1"
                                title="Facebook"></i>
                        </a>
                        <a href="https://twitter.com/digdir_no">
                            <i class="fa-twitter fab icon footer-icon--twitter" aria-hidden="true" tabindex="-1"
                                title="Twitter"></i>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>