<div class="col-lg-12">
    <div class="release-div">

        <label class="text-muted border-bottom w-100 pb-3" style="font-size:15px;">{{ .Date.Format "Jan 02, 2006 kl 15:04" }}</label>
        <a href="{{.RelPermalink}}" class="text-decoration-none">
            <h2 class="text-xl mt-3 text-capitalize font-semibold mb-2">{{.Title}}</h2>
        </a>

        {{ with .Params.Issues }}
        <ul class="list-disc list-inside text-gray-700">
            {{ range . }}
            <li>{{.}}</li>
            {{ end }}
        </ul>
        {{ else }}
        <div class="release">
            {{.Content}}
        </div>
        {{ end }}
    </div>
</div>